.title {
    font-size: 40px;
    padding: 10px;
    font-weight: 600;
}

.list {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    max-width: 1000px;

    .list_item {
        max-width: 900px;
        margin: 0 auto;
    }
}

.day {
    background-color: #f7cb91;
    color: black;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 20px;

    .title {
        font-size: 28px;
        padding: 0 10px 5px 5px;
    }
}

.currentDay {
    background-color: #18253d;
    color: #fbe2c2;
    border: 1px solid #fbe2c2;
    border-radius: 10px;

    .subject_info {
        background-color: #f7cb9110;
    }
}

.shedule_day {
    display: flex;
}

.subjects_of_day {
    width: 100%;
}

.free {
    opacity: 0.5;
}

.subject_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    background-color: #18253d30;
    border-radius: 5px;
    padding: 2px 0;

    :nth-child(n) {
        padding: 0 10px;
    }

    .subject {
        flex: 1 1 auto;
    }

    .teacher {
        width: 200px;
    }

    .cabinet {
        text-align: end;
        width: 90px;
    }
}

.timetable {
    text-align: center;
}