.title {
	font-size: 40px;
	padding: 10px;
	font-weight: 600;
}

.list {
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin: 0 auto;
	max-width: 992px;

	.list_item {
		max-width: 900px;
		margin: 0 auto;
	}
}

.day {
	padding: 10px 20px;

	.title {
		font-size: 28px;
		padding: 0 10px 5px 5px;
	}

	.subject_info {
		background: rgba(255, 255, 255, 0.08);
	}
}

.currentDay {
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 0 #9b42d3, 0 0 0 0 #fff, 0px 0px 6px 4px #9b42d3;
	border: 1px solid #9b42d3;
}

.free {
	opacity: 0.5;
}

.subjects_of_day {
	display: grid;
	gap: 2px;
}

.subject_info {
	display: grid;
	grid-template-columns: max-content 2fr minmax(50px, 1fr) minmax(50px, 1fr);

	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	border-radius: 5px;

	:nth-child(n) {
		padding: 6px;
		text-align: left;
	}

	:first-child {
		width: min-content;
		white-space: wrap;
		text-align: center;
	}

	:last-child {
		text-align: right;
	}
}

@media (max-width: 992px) {
	.subjects_of_day {
		display: grid;
		grid-auto-rows: minmax(70px, auto);
		gap: 2px;
	}
}
