.title {
    font-size: 40px;
    padding: 10px;
    font-weight: 600;
}

.list {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    max-width: 992px;

    .list_item {
        max-width: 900px;
        margin: 0 auto;
    }
}

.day {
    background-color: #f7cb91;
    color: black;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 20px;

    .title {
        font-size: 28px;
        padding: 0 10px 5px 5px;
    }
}

.currentDay {
    background-color: #18253d;
    color: #fbe2c2;
    border: 1px solid #fbe2c2;
    border-radius: 10px;

    .subject_info {
        background-color: #f7cb9110;
    }
}

.free {
    opacity: 0.5;
}

.subjects_of_day {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 2px;
}

.subject_info {
    display: grid;
    grid-template-columns: max-content 2fr minmax(50px, 1fr) minmax(50px, 80px);

    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #18253d30;
    border-radius: 5px;

    :nth-child(n) {
        text-align: left;
        padding: 2px 10px;
    }

    :last-child {
        text-align: right;
    }
}


@media (max-width: 992px) {
    .day {
        margin: 4px 0;
        border-radius: 0;
    }

    .currentDay {
        border: none;
    }
}