// Colors
$main-color: #fbe2c2;
$main-bg-color: #18253d;

// Fonts
$font-main: 'Play', sans-serif;

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Other
$transition: all 0.3s ease;
