@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #18253d;
    color: #fbe2c2;

    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::selection {
    background-color: #fbe2c2;
    color: #18253d;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #fbe2c223;
}

::-webkit-scrollbar-thumb {
    background-color: #fbe2c2;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #fbe2c2;
}