@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --main-color: #fbe2c2;
    --main-bg-color: #18253d;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
    user-select: none;
}

html,
body {
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    background-color: var(--main-color);
    color: var(--main-bg-color);
}

/* ::-webkit-scrollbar {
    width: clamp(5px, 1vw, 7px);
    height: clamp(5px, 1vw, 7px);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
} */

:active,
:hover,
:focus {
    outline: 0;
}