.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr min-content;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    padding-top: 8px;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #18253d;
}

.main {
    height: 100%;
    padding-top: 70px;
}

.footer {
    padding: 10px;
    color: #fbe2c2;
    text-align: center;

    font-size: 18px;
}

.header_container {
    width: clamp(200px, 100%, 1000px);
    margin: 0 auto;
    height: 60px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 28px;
        font-weight: bold;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    .menu-item {
        margin: 0 10px;
        font-size: 18px;
        border-top: 1px solid transparent;
        transition: 0.3s;

        &:hover,
        a.router-link-active {
            border-top: 1px solid;
        }
    }
}

.main_container {
    font-size: clamp(14px, 2.5vw, 1rem);
    height: 100%;
    text-align: justify;
    background-color: #fbe2c223;
    border-radius: 10px;
    padding: 10px;

    position: relative;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}