.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr min-content;
    max-width: 992px;
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;

    &_container {
        width: clamp(200px, 100%, 992px);
        margin: 0 auto;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 100%;

        &_container {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: start;
        }
    }
}

.main {
    height: 100%;
    padding-top: 60px;

    &_container {
        font-size: clamp(14px, 2.5vw, 1rem);
        height: 100%;
        text-align: justify;
        background-color: #fbe2c223;
        border-radius: 10px;
        padding: 10px;
        position: relative;
    }
}

@media screen and (max-width: 992px) {
    .main {
        &_container {
            border-radius: 0;
        }
    }
}

.footer {
    padding: 10px;
    color: #fbe2c2;
    text-align: center;

    font-size: 18px;
}